*.tests
# Directories
apachepoi
excel-reader-xlsx
jxls-*
openpyxl
pyExcelerator
xlrd
roo
spreadsheet-parsexlsx
oo34xml
ootest
# Files
apachepoi_*.x*
excel-reader-xlsx_*.x*
jxls-*_*.x*
openpyxl_*.x*
pyExcelerator_*.x*
xlrd_*.x*
roo_*.x*
spreadsheet-parsexlsx_*.x*
oo34xml_*.x*
ootest_*.x*
